prm-topbar prm-search-bookmark-filter-after button.md-button.search-bookmark-filter-item:not(.md-icon-button) {
  border-radius: 20px;
  min-width: 40px;
}
prm-topbar prm-search-bookmark-filter-after button.md-button.search-bookmark-filter-item:hover {
  box-shadow: 0 1px 0 #888888;
}
