{
  "presets": [
    "es2015"
  ],
  "plugins": [
    "babel-plugin-transform-html-import-to-string"
  ],
  "env": {
    "development": {
      "plugins": [
        "babel-plugin-transform-object-rest-spread",
        "istanbul"
      ]
    }
  },
  "sourceMaps": "both"
}
